.full-width {
  width: 100%;
  margin-bottom: 15px;
}

mat-form-field {
  width: 100%;

}

button {
  margin-top: 15px;
}

mat-card-title{
  text-align: center;
  margin: 20 px;
}
mat-card{
  background-color: rgb(255,255,255,0.2);
  margin-left: 40px;
  margin-right: 40px;
}
