<mat-card>
  <mat-card-title>Contactez-nous</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field class="full-width">
        <input matInput placeholder="Nom" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Email" type="email" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput placeholder="Message" required></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Envoyer</button>
    </form>
  </mat-card-content>
</mat-card>

