<div class="container">
  <mat-vertical-stepper [linear]="false" #stepper class="stepper">
    <mat-step [stepControl]="firstFormGroup" label="step-1">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel></ng-template>

            <!-- Cards with media area -->
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small</mat-card-subtitle>
                  <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                </mat-card-title-group>
              </mat-card-header>
              <mat-card-content>
                {{longText}}
              </mat-card-content>
            </mat-card>
        <!-- Cards with media area -->
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            {{longText}}
          </mat-card-content>
        </mat-card>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Step 2">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            {{longText}}
          </mat-card-content>
        </mat-card>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="thirdFormGroup" label="Step 3">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Done</ng-template>
        <mat-drawer-container class="example-container" autosize>
          <mat-drawer #drawer3 class="example-sidenav" mode="side">
            <div class="partie-gauche-texte"><p>experience works!</p></div>
          </mat-drawer>

          <div class="partie-droite">
            <div><p>experience works!</p></div>
            <button type="button" mat-button (click)="drawer3.toggle()">
              Toggle sidenav
            </button>
          </div>
        </mat-drawer-container>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </form>

    </mat-step>
  </mat-vertical-stepper>

</div>





