.example-container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 1;
}
form{
  color : black;
}

.stepper{
// background-color: rgb(112,128,144);
  background-color: rgb(255,255,255,0.2);
  border-radius:10px;
  margin: 40px;
}

mat-drawer-container{
  // background-color: rgb(112,128,144);
  background-color: rgb(255,255,255,0.2);

}

mat-card{
  margin : 10px;
  // background-color: rgb(112,128,144);
  background-color: rgb(255,255,255,0.2);
}
