.container{
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(255, 255, 255, 0.5);
}
.home-personnel {
//  background: linear-gradient(to right, orange, brown, blue);

}

.skills-experience{
}

mat-card {
  background: linear-gradient(to right, rgba(236,151, 76, 0.5) , rgba(155, 154, 101, 0.5) , rgba(133, 146, 134, 0.5) , rgba(88, 129, 169, 0.5), rgba(0, 32, 96, 0.2) );
  margin: 20px;
}

mat-card-content{
  color: rgb(000,032,096);
  font-weight:bold;
  text-align: center;
}


