
<div class="container">
    <div class="home-personnel">
      <app-home id="home"></app-home>
      <mat-card>
        <mat-card-content ><h1>Compétence</h1></mat-card-content>
      </mat-card>
      <app-personnel id="personnel"></app-personnel>

    </div>

    <div class="skills-experience">


      <mat-card>
        <mat-card-content classe="xp-pro"><h1>Expériences professionnelles</h1></mat-card-content>
      </mat-card>
      <app-experience id="experience"></app-experience>
      <mat-card>
        <mat-card-content class="formation"><h1>formation</h1></mat-card-content>
      </mat-card>
      <app-skills id="skills"></app-skills>

    </div>

    <mat-card>
      <mat-card-content classe="projet"><h1>projet</h1></mat-card-content>
    </mat-card>


    <app-repository id="repository"></app-repository>
    <app-contact id="contact"></app-contact>
  </div>

