
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

mat-expansion-panel{
  background-color: rgb(255,255,255,0.2);
  margin-left: 40px;
  margin-right: 40px;
  border-radius:10px;
}
