.container{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction:column;
}
.toolbar{
  z-index: 7;
  position : fixed;
  width: 100%;
}

.pages-container {
  padding-top: 80px;
  width: 100%;
  background-image: url("../assets/img/fond.jpg");

}

