<div class="wrapper">
  <button mat-raised-button [matMenuTriggerFor]="home" [routerLink]="['home']" >home</button>
  <mat-menu #home="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-raised-button
          id='personnel'
          #personnelMenuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="personnel"
          [routerLink]="['personnel']"
          (mouseenter)="openMenu(personnelMenuTrigger,'personnel')">
    personnel
  </button>
  <mat-menu #personnel="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-raised-button
          #skillsMenuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="skills" [routerLink]="['skills']"
          (mouseenter)="openMenu(skillsMenuTrigger,'skills')">
    skills
  </button>
  <mat-menu #skills="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-raised-button
          #contactMenuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="contact" [routerLink]="['contact']"
          (mouseenter)="openMenu(contactMenuTrigger,'contact')">contact
  </button>
  <mat-menu #contact="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-raised-button
          #xpMenuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="experience" [routerLink]="['experience']"
          (mouseenter)="openMenu(xpMenuTrigger,'experience')">expérience
  </button>
  <mat-menu #experience="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-raised-button
          #repoMenuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="repository" [routerLink]="['repository']"
          (mouseenter)="openMenu(repoMenuTrigger,'repository')">repository
  </button>
  <mat-menu #repository="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-raised-button>télécharger CV</button>
</div>
