.wrapper {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  background-color: rgb(255,255,255,0.5);
}
button{
  margin:10px;
  display: flex;
  cursor:pointer;
}


mat-raised-button{
  background-color: rgb(255,255,255,0.5);

}
