<mat-grid-list cols="3" rowHeight="2:1" class="container">
  <mat-grid-tile  class="grid-name">
    <div class="nom-prenom">
      <mat-card-title>CARBONI</mat-card-title>
      <mat-card-title>Nathanael</mat-card-title>
    </div>
  </mat-grid-tile>


    <mat-grid-tile class="picture">
      <img src="../../../assets/img/bandeau_nath.png" alt="Ma Photo de Profil">
    </mat-grid-tile>

  <mat-grid-tile class="grid-contact">
    <div class="container-contact">
      <div class="contact">
        <button  mat-raised-button [routerLink]="['contact']">Basic</button>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>









